/* CSS Document */
#header{
	position:absolute;
	overflow-y:hidden;
	top: expression( ( 00 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	right:0;
	float:right;
}
#btnHome{
	position:absolute;
	overflow-y:hidden;
	top: expression( ( 70 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	left:0;
	left: expression( ( 00 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
}
#btnAbout{
	position:absolute;
	overflow-y:hidden;
	top: expression( ( 70 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	left:0;
	left: expression( ( 00 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
}
#btnContact{
	position:absolute;
	overflow-y:hidden;
	top: expression( ( 70 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	right:0;
	right: expression( ( 00 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
}
#btnLinks{
	position:absolute;
	overflow-y:hidden;
	top: expression( ( 70 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	right:0;
	right: expression( ( 00 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
}
#footer{
	position:absolute;
	bottom:auto;
	overflow-y:hidden;
	top: expression( ( 00 - footer.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
#content p:first-line {
	color:#000!important;
}
#content p:first-letter {
	font-size:22px!important;
}
